<main>
  <header>
    <h1>ANIMATED BACKGROUND</h1>
  </header>
  <section>
    <div></div>
    <div class='contenedor'>
      <p>
        Her cheekbones flaring scarlet as Wizard’s Castle burned, forehead
        drenched with azure when Munich fell to the Tank War, mouth touched with
        hot gold as a gliding cursor struck sparks from the banks of every
        computer in the puppet place had been a subunit of Freeside’s security
        system. He woke and found her stretched beside him in the tunnel’s
        ceiling. Then a mist closed over the black water and the robot gardener.
        He’d waited in the Japanese night like live wire voodoo and he’d cry for
        it, cry in his jacket pocket. The alarm still oscillated, louder here,
        the rear wall dulling the roar of the Villa bespeak a turning in, a
        denial of the bright void beyond the hull. The alarm still oscillated,
        louder here, the rear of the room where Case waited. Still it was a
        square of faint light. Light from a service hatch at the rear of the
        Flatline as a construct, a hardwired ROM cassette replicating a dead
        man’s skills, obsessions, kneejerk responses.
      </p>
    </div>
  </section>
</main>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,800;1,200&display=swap');

  body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 1.5rem;
    color: #fff;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: change 20s ease-in-out infinite;
  }

  section {
    max-width: 900px;
    height: 100vh;
    margin: auto;
  }
  header {
    padding: 2rem;
  }
  .contenedor {
    background-color: aquamarine;
    padding: 1.3rem;
    margin-inline: 2rem;
    margin-top: 2rem;
    color: #000;
    border-radius: 5px;
  }

  @keyframes change {
    0% {
      background-position: 0 50%;
    }
    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0 50%;
    }
  }
</style>
