---
import Layout from '../layouts/Layout.astro';
---

<Layout title='ASTRO TINY PROJECTS'>
  <main>
    <nav>
      <a href='texto3d/'>3D Text</a>
    </nav>
  </main>
</Layout>

<style>
  main {
    margin-top: 2rem;
    max-width: 950px;
    margin-inline: auto;
  }
</style>
