---
import Layout from '../layouts/Layout.astro';
---

<Layout title='ASTRO TINY PROJECTS'>
  <main>
    <nav class="border">
      <a href='texto3d/'>3D Text</a>
      <a href='whereIssAt/'>Where ISS At</a>
      <a href='victory/'>Victory Magazine</a>
      <a href='accordion/'>Accordion</a>
    </nav>
  </main>
</Layout>

<style>
  main {
    margin-top: 2rem;
    max-width: 950px;
    margin-inline: auto;
  }
  nav{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
  }
</style>
