---
import Layout from '../layouts/Layout.astro';
---

<Layout title='VALIS WEBPAGE'>
  <main>
    <div class='texto'>
      <h2>TECH PAGE</h2>
      <div class='pText'>
        Its hands were holograms that altered to match the convolutions of the
        spherical chamber. Why bother with the movement of the train, their high
        heels like polished hooves against the gray metal of the console in
        faded pinks and yellows. The Sprawl was a square of faint light. A
        narrow wedge of light from a half-open service hatch framed a heap of
        discarded fiber optics and the chassis of a broken mirror bent and
        elongated as they fell.
      </div>
    </div>
  </main>
</Layout>

<style>
  main {
    max-width: 950px;
    margin-inline: auto;
  }
</style>
