---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='https://www.svgrepo.com/show/530253/project.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  /* Open Sans (Helvetica) */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;0,800;1,300;1,600;1,800&display=swap');

/* EB Garamond (WordPress Heading) */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,500;1,600;1,700;1,800&display=swap');

/* JetBrains Mono */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,400;0,500;0,700;1,800&display=swap');

:root {
  --dark: black;
  --light: bisque;
  --mainColor: goldenrod;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'JetBrains Mono', sans-serif;
  color: var(--light);
  background-color: var(--dark);
  font-size: 1.2rem;
}

.mw {
  max-width: 1200px;
}

img {
  width: 400px;
  height: 400px;
  margin-inline: auto;
}

.border {
  border: 2px solid var(--mainColor);
  padding: 1rem;
  margin-block: 2rem;
  margin-inline: auto;
}

input {
  padding: 0.5rem;
  font-size: 1.3rem;
  margin-right: 1rem;
}

button {
  background-color: var(--mainColor); /* Green */
  border: none;
  color: var(--light);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
}

a{
  font-size: 1.3rem;
  color: var(--mainColor);
}
a:hover {
  color: wheat;
}

</style>
